.containerCal {
 width: 100%; 
height: 100%; 
}


.cal-button {
    border: 0;
    align-items: center;
    /* Center icon with text horizontally */
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    background-color: #12451d;
    transition: transform 0.2s, box-shadow 0.2s;
    color: white;
    font-size: 15px;
    width: 400px;
    height: 75px;
}

.cal-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #22551d;
    /* Slightly more opaque on hover */
}
