.popup-overlay {
    position: fixed;
    background: white;
    top: 15%;
    left: 25%;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.popup-overlay p {
    text-align: center;
}

#produce-update-btn {
    background-color: #e3e996;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-overlay textarea {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
}


