.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    width: 60vh;
    min-width: 350px;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    position: absolute;
}

.switch-btn {
    background-color: #d1cccc;
    color: rgb(3, 3, 3);
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    width: 70%;
    cursor: pointer;
}
