/* Global Reset and Base Styles */
.homepage * {
    box-sizing: border-box;
}

/* What is Food Web and Buttons Layout */
.food-web-and-buttons {
    display: flex;
    justify-content: center;
    /* Creates space between mission and buttons */
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
    background-color: #d2e8c9;
    z-index: 2;
}

/* What is Food Web section */
.whats-foodweb-section {
    align-items: center;
    width: 100%;
    margin: auto;
    color: #12451d;
    font-family: 'Calcite', Avenir Next;
    line-height: normal;
}

/* Action Buttons Layout */
.buttons-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 420px;
    /* Control maximum width of buttons*/
    margin: auto;
    padding-top: 4%;
    padding-left: 20px;
}

/* Individual Button Styling */
.styled-button {
    display: flex;
    align-items: center;
    /* Center icon with text horizontally */
    background-color: rgba(255, 255, 255, 0.56);
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    color: #12451d;
    transition: transform 0.2s, box-shadow 0.2s;
}

.slack-button {
    display: flex;
    align-items: center;
    color: #12451d;
    background-color: rgba(255, 254, 225, 0.56);
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
}

.button-icon {
    width: 24px;
    height: 24px;
    margin: 0 15px 0 5px;
    /* Space between icon and text */
}

/* Button Hover Effects */
.styled-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    /* Slightly more opaque on hover */
}

.slack-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(2255, 254, 225, 0.884);
    /* Slightly more opaque on hover */
}

/* Main Content Section Styles */
.main-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    color: #12451d;
    font-family: 'Calcite', Avenir Next;
    line-height: normal;
}

.mission-vision {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    color: #12451d;
    font-family: 'Calcite', Avenir Next;
    line-height: normal;
}

.mission-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    position: relative;
}

.mission-section::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 80%;        
    width: 1px;
    background-color: #12451d;
}

.vision-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;;
}

/* What is Food Web Styles */
.whats-foodweb-title {
    font-size: 36px;
    color: #12451d;
}

.whats-foodweb-description {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #2c4a34;
    max-width: 850px;
}

/* Mission Styles */
.mission-title {
    font-size: 36px;
    color: #12451d;
    margin-bottom: 0px;
}

.mission-description {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2c4a34;
    max-width: 850px;
}

/* Our Vision Styles */
.vision-title {
    font-size: 36px;
    color: #12451d;
    margin-bottom: 0px;
}

.vision-description {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2c4a34;
    max-width: 850px;
}

/* Contribute and Looking Forward Layout */
.contribute-forward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    color: #12451d;
    font-family: 'Calcite', Avenir Next;
    line-height: normal;
    padding-bottom: 50px;
}

/* Contribute Styles */
.contribute-title {
    font-size: 36px;
    color: #12451d;
    margin-bottom: 0px;
}

.contribute-description {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2c4a34;
    max-width: 850px;
}

.contribute-list {
    font-size: 19px;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: disc;
    padding-left: 0;
    margin-top: 20px;
    flex-direction: column;
}

.contribute-list li {
    margin-bottom: 12px;
    color: #2c4a34;
}

.text-link {
    color: #12451d;
}

/* Looking Forward Styles */
.looking-forward-title {
    padding-top: 10px;
    font-size: 36px;
    color: #12451d;
    margin-bottom: 0px;
}

.looking-forward-description {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2c4a34;
    max-width: 850px;
}

.footer-section {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12451d;

}
.logo {
    width: 130px;
    height: 130px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.insta-link {
    color: #d2e8c9;
}

.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}