.reset-email-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reset-email-password-form input {
    border-radius: 8px;
    height: 35px;
    padding: 0 12px;
    margin-top: 0px;
    margin-bottom: 25px;
    width: 300px;
    box-sizing: border-box;
}

.reset-email-password-form button {
    background-color: #368046;
    color: white;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 300px;
    cursor: pointer;
}