.SM-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.SM-btn {
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 300px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

#produce-editor-btn {
    background-color: #e0bf93;
}

#profile-editor-btn {
    background-color: #d5b9e2;
}

#permissions-btn {
    background-color: #e4b1ba;
}
