body {
  margin: 0;
  padding: 0;
}


.home-hero-section {
  top: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* horizontal centering */
  align-items: center;
  /* vertical centering */
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw;
  /* 16:9 ratio based on width */
  min-height: 100vh;
  min-width: 177.78vh;
  /* 16:9 ratio based on height */
  border: none;
  pointer-events: none;
  display: block;
  z-index: 0;
}

.home-hero-title {
  position: relative;
  font-size: 90px;
  color: #ffffff;
  text-align: center;
  z-index: 2;
}