.profile-menu-container{
    position: relative;
}

.profile-btn {
    background: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    padding: 5px 1px 5px 1px;
    margin: auto;
    position: relative;
}

.profile-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-container {
    position: absolute;
    width: 200px;
    height: 500x;
    background-color: rgb(255, 255, 255);
    right: 0px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.signIn-btn {
    margin-top: 20px;
    padding: 5px 12px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.account-btn {
    padding: 5px 12px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

p {
    color: black;
    font-size: 14px;
}