.search-form {
    position: relative;
    width: 220px;
    height: 12px;
    box-shadow: 1 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.map-search-bar {
    background-color: #e4f3e0;
    padding: 10px 0px 10px 8px;
    font-size: 14px;
    border: 1px solid #020e04;
    border-radius: 4px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.submit-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 30px;
    height: 27px;
    right: 0px;
    transform: translateY(-115%);
    padding: 0;
}

.submit-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#clear-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 17px;
    height: 20px;
    right: 35px;
    transform: translateY(-140%);
    padding: 0;
}

#clear-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
