.search-form {
    position: relative;
    width: 230px;
    height: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.map-search-bar {
    background-color: rgba(219, 238, 222, 0.8);
    padding: 10px 0px 10px 8px;
    font-size: 14px;
    border: 1px solid #289c41;
    border-radius: 15px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.submit-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 30px;
    height: 30px;
    right: 0px;
    transform: translateY(-115%);
    padding: 0;
}

.submit-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#clear-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 17px;
    height: 20px;
    right: 35px;
    transform: translateY(-140%);
    padding: 0;
}

#clear-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Custom wrapper classes for different positions of the search bar on the map*/
.search-bar-site-name-wrapper {
    position: absolute;
    top: 275px;
    left: 15px;
    z-index: 10;
}

.search-bar-produce-wrapper {
    position: absolute;
    top: 320px;
    left: 15px;
    z-index: 10;
}

/* need to implement media queries for smaller screen sizes */